*, *:before, *:after {
    box-sizing: border-box; }
  
  html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none; }
  
  footer, header, nav, section, main {
    display: block; }
  
  body {
    line-height: 1; }
  
  ol, ul {
    list-style: none; }
  
  blockquote, q {
    quotes: none; }
  
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; }
  
  input {
    -webkit-appearance: none;
    border-radius: 0; }
  
  .c-background {
    background-image: url("../public/images/bg.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center; }
    .c-background .signin-box {
      max-width: 300px;
      width: 100%;
      background-color: #ffffff;
      border-radius: 15px;
      padding: 20px 10px; }
      .c-background .signin-box img {
        width: 90px;
        height: 90px;
        display: block;
        margin: 0 auto;
        margin-bottom: 35px; }
      .c-background .signin-box h1 {
        margin-top: 10px;
        margin-bottom: 80px;
        color: #0c0316;
        font-size: 48px;
        width: 100%;
        text-align: center;
        font-family: 'forum'; }
      .c-background .signin-box button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 230px;
        max-height: 60px;
        border: none;
        border-radius: 35px;
        font-size: 30px;
        background-color: #2e3e5f;
        font-family: 'forum';
        transition-duration: 0.4s;
        color: white;
        cursor: pointer;
        margin: 0 auto; }
        .c-background .signin-box button .Microsoftlogo {
          width: 30px;
          height: 30px;
          padding-right: 0;
          display: block;
          margin: 5px; }
        .c-background .signin-box button p {
          margin-right: 25px;
          margin-left: 10px;
          font-size: 25px; }
      .c-background .signin-box button:hover {
        background-color: #aedff3;
        color: #2e3e5f;
        border: #2e3e5f; }
  